<h1>Edit <%= @musician.name %></h1>

<nav>
  <a href="/">Home</a> |
  <a href="/orchestras/">Orchestras</a> |
  <a href="/musicians/">Musicians</a> |
  <a href="/composers/">Composers</a> |
  <a href="/songs/">Songs</a> |
  <a href="/musicians/<%= @musician.id %>"><%= @musician.name %></a>
</nav><br/>

<%= form_with url: "/musicians/#{@musician.id}", method: :patch, local: true do |form| %>
  <%= form.label :name, "Name:" %><br/>
  <%= form.text_field :name %><br/><br/>
  <%= form.label :age, "Age:" %><br/>
  <%= form.text_field :age%><br/><br/>
  <%= form.label :hirable, "Hirable?"%><br/>
  <%= form.text_field :hirable %><br/><br/>
  <%= form.submit "Sumbit" %>
<% end %>