<h1>Musicians</h1>

<nav>
  <a href="/">Home</a> |
  <a href="/orchestras/">Orchestras</a> |
  <a href="/musicians/">Musicians</a> |
  <a href="/composers/">Composers</a> |
  <a href="/songs/">Songs</a> |
  <a href="/musicians/new">New Musician</a>
</nav><br/>


<% @musicians.true?.each do |musician| %>
  <a href="/musicians/<%= musician.id %>"><%= musician.name %></a> |
  <a href="/musicians/<%=musician.id%>/edit">Edit</a>
  <br/>
  <ul>
    <li>Is looking for work: <%= musician.hirable %></li>
    <li>Age: <%= musician.age %></li>
  </ul>
  <br/><br/>
<% end %>