<h1>Musicians</h1>

<nav>
  <a href="/">Home</a> |
  <a href="/orchestras/">Orchestras</a> |
  <a href="/musicians/">Musicians</a> |
  <a href="/composers/">Composers</a> |
  <a href="/songs/">Songs</a> |
  <a href="/musicians/new">New Musician</a> |
  <a href="/musicians?order=true">Sort by Name</a>
</nav><br/>

<%= form_with url: "/musicians", method: :get, local: true do |form| %>
  <%= form.label :age_limit, "Limit to Musicians Over Age:" %>
  <%= form.text_field :age_limit %>
  <%= form.submit "Limit" %>
<% end %>

<% @musicians.each do |musician| %>
  <a href="/musicians/<%= musician.id %>"><%= musician.name %></a> |
  <a href="/musicians/<%=musician.id%>/edit">Edit</a>
  <br/>
  <ul>
    <li>Is looking for work: <%= musician.hirable %></li>
    <li>Age: <%= musician.age %></li>
  </ul>
  <%= form_with url: "/musicians/#{musician.id}", method: :delete, local: true do |form|%>
    <%= form.submit "Delete" %>
  <% end %>
<% end %>