<h1>New Musician</h1>

<nav>
  <a href="/">Home</a> |
  <a href="/orchestras/">Orchestras</a> |
  <a href="/musicians/">Musicians</a> |
  <a href="/composers/">Composers</a> |
  <a href="/songs/">Songs</a> |
  <a href="/musicians/">Musicians Index</a>
</nav><br/>

<h4>Enter a New Musician</h4>
<%= form_with url: "/musicians", method: :post, local: true do |form|%>
  <%= form.label :orchestra_id, "Orchestra ID:" %><br/>
  <%= form.text_field :orchestra_id%><br/><br/>
  <%= form.label :name, "Name:"%><br/>
  <%= form.text_field :name%><br/><br/>
  <%= form.label :hirable, "Is Looking for Work?"%><br/>
  <%= form.text_field :hirable%><br/><br/>
  <%= form.label :age, "Age:"%><br/>
  <%= form.text_field :age%><br/><br/>
  <%= form.submit "Sumbit"%>
<% end %>