<h1><%= @musician.name %></h1>

<nav>
  <a href="/">Home</a> |
  <a href="/orchestras/">Orchestras</a> |
  <a href="/musicians/">Musicians</a> |
  <a href="/composers/">Composers</a> |
  <a href="/songs/">Songs</a> |
  <a href="/musicians/<%= @musician.id %>/edit">Edit</a>
</nav><br/>

Is looking for work: <%= @musician.hirable %>
Age: <%= @musician.age %>

<form action="/musicians/<%= @musician.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete"/>
</form>