<h1>Edit <%= @composer.name %></h1>

<nav>
  <a href="/">Home</a> |
  <a href="/composers/">Orchestras</a> |
  <a href="/musicians/">Musicians</a> |
  <a href="/composers/">Composers</a> |
  <a href="/songs/">Songs</a> |
  <a href="/composers/<%= @composer.id %>"><%= @composer.name %></a>
</nav><br/>

<%= form_with url: "/composers/#{@composer.id}", method: :patch, local: true do |form|  %>
  <%= form.label :name, "Name:" %><br/>
  <%= form.text_field :name %><br/><br/>
  <%= form.label :nationality, "Nationality:" %><br/>
  <%= form.text_field :nationality %><br/><br/>
  <%= form.label :active, "Is currently active?" %><br/>
  <%= form.text_field :active %><br/><br/>
  <%= form.label :total_songs, "Total Songs:" %><br/>
  <%= form.text_field :total_songs%><br/><br/>
  <%= form.submit 'Submit' %>
<% end %>