<h1>Composers</h1>

<nav>
  <a href="/">Home</a> |
  <a href="/orchestras/">Orchestras</a> |
  <a href="/musicians/">Musicians</a> |
  <a href="/composers/">Composers</a> |
  <a href="/songs/">Songs</a> |
  <a href="/composers/new">New Composer</a>
</nav><br/>

<% @composers.each do |composer| %>
  <a href="/composers/<%= composer.id %>"><%= composer.name %></a>,
  Created: <%=composer.created_at%> |
  ID: <%=composer.id%> |
  <a href="/composers/<%=composer.id%>/edit">Edit</a> |
  <%= form_with url: "/composers/#{composer.id}", method: :delete, local: true do |form| %>
    <%= form.submit 'Delete' %>
  <% end %><br/>
<% end %>