<h1>New Composers</h1>

<nav>
  <a href="/">Home</a> |
  <a href="/orchestras/">Orchestras</a> |
  <a href="/musicians/">Musicians</a> |
  <a href="/composers/">Composers</a> |
  <a href="/songs/">Songs</a>
</nav><br/>

<h4>Enter a New Composer</h4>
<%= form_with url: "/composers", method: :post, local: true do |form| %>
  <%= form.label :name, "Name:" %><br/>
  <%= form.text_field :name%><br/><br/>
  <%= form.label :nationality, "Nationality:" %><br/>
  <%= form.text_field :nationality %><br/><br/>
  <%= form.label :active, "Is Active?" %><br/>
  <%= form.text_field :active %><br/><br/>
  <%= form.label :total_songs, "Total Songs:" %><br/>
  <%= form.text_field :total_songs%><br/><br/>
  <%= form.submit 'Submit' %>
<% end %>