<h1><%= @composer.name %></h1>

<a href="/composers/<%= @composer.id %>/songs">Songs</a><br/>
Is currently active: <%= @composer.active %><br/>
Nationality: <%= @composer.nationality %><br/>
Total Songs: <%= @composer.total_songs %>