<h1><%= @composer.name %></h1>

<nav>
  <a href="/">Home</a> |
  <a href="/orchestras/">Orchestras</a> |
  <a href="/musicians/">Musicians</a> |
  <a href="/composers/">Composers</a> |
  <a href="/songs/">Songs</a> |
  <a href="/composers/<%= @composer.id %>/songs">Songs by this Composer</a> |
  <a href="/composers/<%= @composer.id %>/edit">Edit</a>
</nav><br/>

<a href="/composers/<%= @composer.id %>/songs">Songs</a><br/>
Is currently active: <%= @composer.active %><br/>
Nationality: <%= @composer.nationality %><br/>
Total Songs: <%= @composer.total_songs %>
Number of songs available: <%= @composer.songs.count %><br/>