<h1>Edit <%= @song.name %></h1>

<nav>
  <a href="/">Home</a> |
  <a href="/orchestras/">Orchestras</a> |
  <a href="/musicians/">Musicians</a> |
  <a href="/composers/">Composers</a> |
  <a href="/songs/">Songs</a> |
  <a href="/songs/<%= @song.id %>"><%= @song.name %></a>
</nav><br/>

<form method="post" action="/songs/<%= @song.id %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Name:</p>
  <input type="text" name='song[name]'/><br/>
  <p>Year Composed:</p>
  <input type="text" name='song[year_composed]'/><br>
  <p>Public Domain?</p>
  <input type="text" name='song[public_domain]'/><br/>
  <input type='submit'/>
</form>