<h1>New Song</h1>

<nav>
  <a href="/">Home</a> |
  <a href="/orchestras/">Orchestras</a> |
  <a href="/musicians/">Musicians</a> |
  <a href="/composers/">Composers</a> |
  <a href="/songs/">Songs</a>
</nav><br/>
<h4>Enter a New Song</h4>

<%= form_with url: "/songs", method: :post, local: true do |form|%>
  <%= form.label :composer_id, "Composer Id:"%><br/>
  <%= form.text_field :composer_id%><br/><br/>  
  <%= form.label :name, "Name:" %><br/>
  <%= form.text_field :name%><br/><br/>
  <%= form.label :year_composed, "Year Composed:" %><br/>
  <%= form.text_field :year_composed %><br/><br/>
  <%= form.label :public_domain, "Public Domain?" %><br/>
  <%= form.text_field :public_domain %><br/><br/>
  <%= form.submit "Submit"%>
<% end %>