<h1>Edit <%= @orchestra.name %></h1>

<nav>
  <a href="/">Home</a> |
  <a href="/orchestras/">Orchestras</a> |
  <a href="/musicians/">Musicians</a> |
  <a href="/composers/">Composers</a> |
  <a href="/songs/">Songs</a> |
  <a href="/orchestras/<%= @orchestra.id %>"><%= @orchestra.name %></a>
</nav><br/>

<%= form_with url: "/orchestras/#{@orchestra.id}", method: :patch, local: true do |form|%>
  <%= form.label :name, "Name:" %><br/>
  <%= form.text_field :name %><br/><br/>
  <%= form.label :city, "City:" %><br/>
  <%= form.text_field :city %><br/><br/>
  <%= form.label :hiring, "Is Hiring?" %><br/>
  <%= form.text_field :hiring %><br/><br/>
  <%= form.label :max_musicians, "Max Number of Musicians:" %><br/>
  <%= form.text_field :max_musicians %><br/><br/>
  <%= form.submit "Submit" %>
<% end %>