<h1>Edit <%= @orchestra.name %></h1>

<nav>
  <a href="/">Home</a> |
  <a href="/orchestras/">Orchestras</a> |
  <a href="/musicians/">Musicians</a> |
  <a href="/composers/">Composers</a> |
  <a href="/songs/">Songs</a> |
  <a href="/orchestras/<%= @orchestra.id %>"><%= @orchestra.name %></a>
</nav><br/>

<form method="post" action="/orchestras/<%= @orchestra.id %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Name:</p>
  <input type="text" name='orchestra[name]'/><br/>
  <p>City:</p>
  <input type="text" name='orchestra[city]'/><br>
  <p>Is Hiring?</p>
  <input type="text" name='orchestra[hiring]'/><br/>
  <p>Max Number of Musicians:</p>
  <input type="text" name='orchestra[max_musicians]'/><br/><br/>
  <input type='submit'/>
</form>