<h1>Orchestras</h1>

<nav>
  <a href="/">Home</a> |
  <a href="/orchestras/">Orchestras</a> |
  <a href="/musicians/">Musicians</a> |
  <a href="/composers/">Composers</a> |
  <a href="/songs/">Songs</a> |
  <a href="/orchestras/new">New Orchestra</a>
</nav><br/>

<% @orchestras.order(:created_at).each do |orchestra| %>
  <a href="/orchestras/<%=orchestra.id%>"><%=orchestra.name%></a>,
  Created: <%=orchestra.created_at%> |
  <a href="/orchestras/<%=orchestra.id%>/edit">Edit</a> |
  <form action="/orchestras/<%= orchestra.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete"/>
  </form>
  <br/><br/>
<% end %>