<h1><%= @orchestra.name %></h1>

<nav>
  <a href="/">Home</a> |
  <a href="/orchestras/">Orchestras</a> |
  <a href="/musicians/">Musicians</a> |
  <a href="/composers/">Composers</a> |
  <a href="/songs/">Songs</a> |
  <a href="/orchestras/<%= @orchestra.id %>/musicians">Musicians in this Orchestra</a> |
  <a href="/orchestras/<%= @orchestra.id %>/edit">Edit</a>
</nav><br/>

Location: <%= @orchestra.city %><br/>
Maximum Number of Musicians: <%= @orchestra.max_musicians %><br/>
Is currently hiring: <%= @orchestra.hiring %><br/>
Number of Musicians: <%= @orchestra.musicians.count %><br/>

<form action="/orchestras/<%= @orchestra.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete"/>
</form>